@import "tailwindcss";

@theme {
  --color-primary-50: #e3f2fd;
  --color-primary-300: #90caf9;
  --color-primary-500: #2196f3;
  --color-primary-900: #0d47a1;

  --color-background: #e3f2fd;
  --color-surface: #ffffff;
}

* {
  transition: all 0.2s;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary-900);
    border-right-color: var(--color-primary-300);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-300);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }
  .rdp-dropdowns select {
    color: red;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @media print {
    #no-print {
      display: none !important;
    }
  }
}
