@import "tailwindcss";

@theme {
  --color-primary-50: #e3f2fd;
  --color-primary-300: #90caf9;
  --color-primary-500: #2196f3;
  --color-primary-900: #0d47a1;

  --color-background: #e3f2fd;
  --color-surface: #ffffff;
}
